* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: orange;
}

.wrapper {
    width: 1000px;
    height: 800px;
    background-color: #d9c925ff;
    margin: 50px auto;
}

.titulo {
    height: 120px;
    background-color: black;
}

.foto {
    width: 200px;
    height: 120px;
    background-color: white;
    float: left;
}

.titular {
    width: 800px;
    height: 120px;
    background-color: white;
    float: right;
}

.migas {
    width: 1000px;
    height: 120px;
    background-color: black;
}

.cuerpo {
    width: 1000px;
    height: 440px;
    background-color: white;
}

.menu {
    width: 400px;
    height: 440px;
    background-color: blue;
    float: left;
}

.contenido {
    width: 600px;
    height: 440px;
    background-color: blue;
    float: right;
    text-align: center;
}

.pie {
    width: 1000px;
    height: 120px;
    background-color: black;
    text-align: center;
}

.foto>img {
    width: 200px;
    height: 120px;
}

.titular>p {
    font-size: 80px;
    margin-left: 80px;
    font-family: "Lato";
    font-weight: bold;
}

.migas>ul>li {
    font-size: 20px;
    color: white;
    font-family: "Lato";
    margin-left: 20px;
    display:inline;
}

a {
    text-decoration: none;
    color: white;
    font-family: "Lato"
}

.menu>ul {
    list-style-type: none;
    margin-left: 80px;
    margin-top: 80px;
}

li {
    padding-top: 20px;
    color
}

.contenido>img {
    width: 600px;
    height: 440px;
}

.pie>p {
    font-size: 40px;
    font-family: "Lato";
    color: white;
    letter-spacing:30px;
    text-align:center;
}
.tabla {
    display: table;
    width: 590px;
    height: 350px;
    margin: 10px auto;
    border: 2px solid black;
    border-spacing: 5px;
}

.fila {
    display: table-row;
}

.celda {

    display: table-cell;
    width: 295px;
    border: 2px solid black;
    background-color: gray;
}

.ejemplo{color:yellow;font-style:italic;}
.rotulotabla{width:590px;height:50px;border:2px solid black;margin-top:10px;}
h2{font-family:"Lato";}
p{font-family:"Lato";}
