/*Menu*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    background-color: grey;
}

.wrapper {
    width: 1000px;
    height: 630px;
    background-color: orange;
    margin: 10px auto;
    border: 5px solid black;
}

.titulo {
    width: 1000px;
    height: 75px;
    background-color: purple;
    border-bottom: 5px solid black;
}

.foto {
    width: 130px;
    height: 65px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    float: left;
    margin: 3px;
}

.foto>img {
    width: 130px;
    height: 65px;
}

.rotulo {
    width: 850px;
    height: 75px;
    float: right;
}

.rotulox {
    font: oblique bold 250% cursive;
}

.migas {
    width: 1000px;
    height: 55px;
    background-color: blue;
    border-bottom: 5px solid black;
    text-align: left;
}

.flechamigas {
    width: 80px;
    height: 55px;
    float: left;
}

.migas>div>img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.listamigas {
    width: 900px;
    height: 55px;
    float: left;
}

.listamigas ul {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}

.listamigas>ul>li {
    display: inline;
    margin-right: 30px;
}

.cuerpo {
    width: 1000px;
    height: 400px;
    background-color: yellow;
    border-bottom: 5px solid black;
}

.menu {
    width: 300px;
    height: 400px;
    background-color: salmon;
    border-right: 2px solid black;
    float: left;
}

.menu>ul {
    list-style-type: none;
    margin-top: 25%;
    margin-left: 15%;
}

.menu>ul>li {
    padding: 30px;
}

.contenido {
    width: 698px;
    height: 400px;
    float: right;
}

.tabla {
    display: table;
    width: 650px;
    height: 350px;
    margin: 20px auto;
    border: 2px solid black;
    border-spacing: 5px;
}

.fila {
    display: table-row;
}

.celda {
    display: table-cell;
    width: 300px;
    border: 2px solid black;
    background-color: gray;
}

.pie {
    width: 1000px;
    height: 85px;
    background-color: pink;
}

.rotuloy {
    margin-left: 10%;
    font: oblique bold 350% cursive;
}

.historia {
    font-size: 30px;
    color: black;
    font: oblique bold 150% cursive;
    text-align: center;
    margin: 20% auto;
}

.destacado {
    width: 75px;
    background-color: black;
    border-radius: 15px;
    color: gray;
    text-decoration: none;
    font: oblique bold 150% cursive;
}

.destacado2 {
    width: 150px;
    display: block;
    background-color: black;
    border-radius: 15px;
    color: gray;
    text-decoration: none;
    text-align: center;
    font: oblique bold 100% cursive;
}

.normal {
    width: 75px;
    background-color: gray;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    font: oblique bold 100% cursive;
}

.normal2 {
    width: 150px;
    display: block;
    background-color: gray;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    text-align: center;
    font: oblique bold 100% cursive;
}

a.normal:hover {
    background-color: gold;
    color: black;
}

a.normal2:hover {
    background-color: gold;
    color: black;
}

a.destacado:hover {
    background-color: gold;
    color: black;
}

a.destacado2:hover {
    background-color: gold;
    color: black;
}

a.normal:active {
    background-color: red;
}

a.destacado:active {
    background-color: red;
}

a.normal2:active {
    background-color: red;
}

a.destacado2:active {
    background-color: red;
}