body{width:100%;height:100%;background-color:grey;}
.wrapper{width:800px;height:800px;background-color:white;margin:20px auto;}
.empresa{height:50px;font-family:arial;font-size:20px;font-weight:bold;
	margin-left:15px;padding-top:20px;}
.mapa{width:350px;height:300px;background-color:#33e6ff;margin:auto;}
.mapa>img{width:350px;height:300px;}
.lista{margin-left:100px;padding-top:40px;}
.wrapper2{width:800px;height:800px;background-color:orange;margin:10px auto;}
.rotulo{width:500px;height:100px;margin:20px auto;text-align:center;}
.valencia{width:500px;height:300px;margin:20px auto;text-align:center;}
.valencia>img{width:300px;height:300px;margin:auto;}
.tabla{display:table;width:330px;height:300px;margin:auto;border-spacing:15px 15px;
	border-collapse:separate}
	.fila{display:table-row;}
	.foto{display:table-cell;width:130px;height:110px;}
	.foto>img{width:140px;height:110px;}
	.volver{width:300px;height:30px;text-align:center;margin:auto;}
	
	.volver a{text-decoration:none;font-size:30px;color:black;font-family:arial;font-weight:bold;}