* {
    margin: 0px;
    padding: 0px
}

body {
    width: 100%;
    height: 100%;
    background-color: #cfcdcd;
    background-image: url("imgs/bg.gif");
    background-repeat: repeat-x;
}

.maximo {
    width: 640px;
    height: 100%;
    margin: auto;
    font-family: arial;
}

.cuerpo {
    width: 640px;
    height: 400px;
    background-color: white;
    margin: 0px auto;
    border-radius: 6px;
    padding: 5px;
    box-shadow:  2px 2px 5px #999;
}

.titulo {
    margin: 50px auto;
}

h1 {
    color: white;
}

span {
    color: white;
    font-size: 9px;
    margin-left: 10px;
}

.pestana {
    width: 360px;
    height: 40px;
    background-color:black;
    margin-left: 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.pestana li {
    list-style: none;
    float:left;
    font-size: 8px;
    font-weight:bold;
    text-align:center;
    line-height:30px;
    width:72px;


}

.pestana a {
    display: block;


    text-decoration: none;
    color: white;
    
    
}
.pestana a:hover{width:72px;height:40px;border-top:2px solid blue;border-right:2px solid blue;
    border-top-left-radius:15px;
    border-top-right-radius:15px;background-color:white;color:black;}

/*a.activado{width:72px;height:40px;border-top:2px solid blue;border-right:2px solid blue;
    border-top-left-radius:15px;
    border-top-right-radius:15px;background-color:white;color:black;}*/




.imagen {
    width: 630px;
    height: 120px;
    margin: 5px auto;
}

.contenido {
    width: 630px;
    height: 270px;
  
}

.contenido div {
    width: 185px;
    height: 270px;
    float: left;
    padding: 5px;
    margin-right: 15px;
}

#uno {
    width: 200px;
    height: 40px;
    line-height: 60px;
}

#dos {
    width: 190px;
    height: 90px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 1px;
}

#tres {
    width: 200px;
    height: 100px;
    background-color: white;
}

#uno>p {
    font-size: 11px;
    font-weight: bold;
}

#tres p {
    font-size: 10px;
}

body>div>div:nth-child(3) img {
    width: 630px;
    height: 120px;
}

#dos>img {
    width: 190px;
    height: 90px;
}
.contenido li{width:100px;font-size:9px;color:green;list-style:none;margin-top:15px;}
.contenido a{width:100px;text-decoration:none;color:black;}

.modal{display:none;}
.modal:target{display:block;position:fixed;top:0px;left:0px;background-color:black;
    width:100%;height:100%;}
.imagen1{margin-top:150px;color:white;}
.modal>.imagen1>a>img{width:500px;height:500px;}
.modal h2{color:white;text-align:center;}
.readmore a:hover{background-color:green;color:white;}

.cerrar {
  display: block;
  background: #fff;
  width: 25px;
  height: 25px;
  margin: 150px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  line-height: 25px;
}