* {
    margin: 0px;
    padding: 0px;
}

button{
	background: none;
	border:none;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("pack-imagenes/fondo.gif");
    background-repeat: repeat
}

.wrapper {
    width: 700px;
    border: 1px solid grey;
    margin: 140px auto;
}

.cabecera {
    width: 700px;
    height: 105px;
}

.cinta {
    width: 700px;
    height: 25px;
    background-color: #5cf5f7;
    border-bottom: 1px solid grey;
}

.cinta ul {
    list-style: none;
    font-size: 11px;
    font-family: arial;
}

.cinta li {
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 5px;
}

.cinta li:not(.ultima) {
    border-right: 1px solid black;
}

.cinta a {
    text-decoration: none;
    color: black;
}

.cinta a:hover {
    background-color: yellow;
}

.cuerpo {
    width: 700px;
    height: 400px;
    background-image: url("pack-imagenes/fondonav.gif");
    background-repeat: repeat;
}

.izdo {
    width: 470px;
    height: 370px;
    float: left;
    font-family: arial;
    font-size: 12px;
    padding: 15px;
}

.dcho {
    width: 199px;
    height: 300px;
    float: right;
    background-color: #eff9f4;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

.dcho>div:nth-child(odd) {
    background-color: #5c82f7;
    line-height: 25px;
}

.dcho>div:nth-child(2) {
    height: 75px;
}

.dcho>div:nth-child(4) {
    height: 50px;
}

.dcho>div:nth-child(6) {
    height: 100px;
}

.mayusculas {
    color: white;
    font-size: 12px;
    font-family: arial;
    margin-left: 10px;
}

.registro {
    width: 150px;
    height: 30px;
    font-size: 12px;
    font-family: arial;
    margin-left: 15px;
    margin-top: 15px;
}

.informaciones ul {
    font-size: 12px;
    margin-left: 30px;
    margin-top: 15px;
    font-family: arial;
    list-style-image: url("pack-imagenes/bullet.gif");
}

.informaciones li {
    margin-bottom: 5px;
}

.informaciones a {
    text-decoration: none;
    color: black;
}

.informaciones a:hover {
    background-color: blue;
    color: white;
}

#formulario {
    width: 100px;
    margin: 10px 10px 5px 10px;
}

#btn {
    margin-left: 15px;
}

label {
    font-family: arial;
    font-size: 12px;
}