*{margin:0px;padding:0px;}
body>div{width:600px;height:750px;margin:40px auto;font-family:arial;}
body>div>div{width:300px;height:750px;
	float:left;}

body>div>div>div:not(.flecha){width:220px;height:245px;border-top:1px solid black;}
ul{list-style-type: square; margin:10px 30px;font-size:13px;}
p{font-size:14px;margin-left:15px;}
.flecha{width:220px;height:145px;padding-left:50px;padding-right:50px;}
.flecha>img{width:120px;height:120px;}