*{margin:0px;padding:0px}
.wrapper{width:1000px;height:800px;background-color:white;margin:20px auto;}
.cabecera{width:800px;line-height:75px;background-color:black;border-radius:6px;
color:white;text-align:center;margin:25px auto;}
.cabecera1{width:800px;line-height:75px;background-color:grey;border-radius:6px;
color:black;text-align:center;margin:25px auto;}
.cuerpo{width:800px;height:600px;background-color:white;border-radius:6px;
	margin:0px auto;}
.izdo{width:275px;height:400px;float:left;background-color:black;border-radius:6px;}
.dcho{width:500px;height:600px;float:right;background-color:black;border-radius:6px;}
.pie{width:780px;line-height:75px;background-color:black;border-radius:6px;color:white;
text-align:right;padding-right:20px;margin:25px auto;}
.izdo1{width:275px;height:400px;float:left;background-color:grey;border-radius:6px;}
.dcho1{width:500px;height:600px;float:right;background-color:grey;border-radius:6px;}
.pie1{width:780px;line-height:75px;background-color:grey;border-radius:6px;color:black;
text-align:right;padding-right:20px;margin:25px auto;}
ul{list-style:none;color:white;padding-top:40px;padding-left:13px;text-align:center;}
.uno{background-color:grey;color:black;font-size:18px;margin-bottom:15px;
border-radius:12px;max-width:250px;line-height:30px;font-weight:bold;}
.uno>a{display:block;text-decoration:none;color:black;}
.dos{background-color:black;color:grey;font-size:18px;margin-bottom:15px;
border-radius:12px;max-width:250px;line-height:30px;font-weight:bold;}
.dos>a{display:block;text-decoration:none;color:grey;}
.foto1{width:200px;height:165px;background-color:grey;margin:40px 15px;border-radius:12px;
float:left;position:relative;}
.foto2{width:200px;height:165px;background-color:grey;margin:40px 15px;border-radius:12px;
float:right;position:relative;}
.foto1a{width:200px;height:165px;background-color:black;margin:40px 15px;border-radius:12px;
float:left;position:relative;color:grey;}
.foto2a{width:200px;height:165px;background-color:black;margin:40px 15px;border-radius:12px;
float:right;position:relative;color:grey;}
.chin{position:absolute;top:-15px;}
.chin>img{width:40px;height:40px;}
.contenido{width:170px;height:135px;position:absolute;top:20px;right:10px;
	font-family:arial;font-weight:bold;font-size:12px;}
	.amarillo{color:yellow;border:1px solid yellow;border-radius:12px;}
	.volver{width:50px;line-height:50px;position:fixed;bottom:100px;right:150px;
		background-color:red;border-radius:12px;text-align:center;font-family:arial;
		font-weight:bold;}
		.volver>a{display:block;text-decoration:none;color:black;}
.contenido>a{display:block;text-decoration:none;color:grey;}
.modal{width:100%;height:1000px;position:absolute;top:0px;left:0px;
	background-color:black;
	opacity:0;z-index:-100;}


#aparicion:target{opacity:0.9;z-index:100;transition:all 1s ;}
.foto1c{width:200px;height:165px;background-color:grey;border-radius:12px;
	position:absolute;top:165px;left:590px;}


