*{margin:0px;padding:0px}
body{background-color:grey;}
.wrapper{width:600px;margin:40px auto;background-color:orange;}
.negrita{font-weight:bold;}
h1{text-align:center;}
.titulo{display:block;width:600px;border-bottom:1px solid black;margin-bottom:40px;}
ul{list-style-type:upper-latin;margin-top:20px;margin-left:20px;}
.firma{display:block;width:600px;border-top:1px solid black;text-align:center;
margin-top:40px;font-style:italic;}
li>span>a{text-decoration:none;background-color:yellow;color:black;}
.contenedor{width:600px;height:700px;margin:auto;}
img{width:600px;height:500px;}
.playas{width:600px;height:500px;margin:50px auto;}
.playas2{width:600px;height:200px;}
.texto{display:block;margin-top:20px;font-family:courier new;font-size:28px;color:blue;
font-style:italic;font-weight:bold;text-align:center;}
a:hover{background-color:blue;color:white;transition:all 1.5s;}
.volver{width:600px;margin:20px auto;text-align:right;}
.volver2{font-family:courier new;font-size:20px;font-style:italic;
		font-weight:bold;background-color:white;}
		.volver a{text-decoration:none;color:black;}