*{margin:0px;padding:0px}
body{width:100%;height:100%;background-color:grey;}
.wrapper{width:1000px;height:800px;background-color:grey;margin:auto;position:relative;}
.cuerpo{position:absolute;width:975px;height:700px;top:100px;left:12px;background-color:grey;
font-family:fantasy;font-size:23px;}
.cuerpo>div:nth-child(1){width:215px;height:700px;float:left;background-color:#bdbdbd;
margin-left:5px;margin-right:5px;}
.cuerpo>div:nth-child(2){width:515px;line-height:700px;float:left;background-color:#bdbdbd;
	margin-left:5px;margin-right:5px;text-align:center;color:grey;}

.cuerpo>div:nth-child(3){width:215px;height:700px;float:left;background-color:#bdbdbd;
	margin-left:5px;margin-right:5px;text-align:center;}

.encabezamiento{position:absolute;width:700px;line-height:100px;top:20px;left:150px;
	background-color:#bdbdbd;border:5px solid grey;z-index:100;font-family:fantasy;
color:white;}
	.cinta{position:absolute;width:480px;line-height:30px;background-color:black;top:145px;left:260px;
		z-index:110;}
	.cinta2{position:absolute;width:480px;height:30px;background-color:white;top:142px;left:257px;
		z-index:109;}
		.cinta ul{list-style:none;font-family:arial;font-size:14px;}
		.cinta li{	float:left;color:white;padding-right:6px;padding-left:6px;}
		.grande{font-size:23px;text-align:left;margin-left:30px;}
		.grande2{display:block;font-size:23px;text-align:left;padding-top:330px;
			margin-left:70px;color:grey;}
			.grande3{display:block;font-size:23px;color:grey;margin-top:60px;margin-left:70px;}
		.pequeño{font-size:10px;text-align:right;margin-left:100px;}
		.cuerpo ul{list-style:none;font-family:fantasy;font-size:15px;margin-left:10px;
			margin-top:20px;}
		.cuerpo a{text-decoration:none;display:block;background-color:grey;color:white;
			width:195px;line-height:50px;margin-bottom:5px;
			text-align:center;}
		
			.cuerpo a:hover{width:180px;border-left:15px solid white;text-align:center;}
			.cuerpo a:visited{width:180px;border-left:15px solid black;text-align:center;}
			.cuerpo a:active{width:180px;border-left:15px solid red;text-align:center;
				color:red;}		
