*{margin:0px;height:0px}
body{width:100%;height:100%;}
.wrapper{width:1000px;height:1000px;background-color:grey;margin:auto;}
.menu{width:300px;height:100%;float:left;}
.contenedor{width:400px;height:100%;background-color:orange;float:left;}
.titulo{height:50px;background-color:black;color:white;}
.contenido{height:900px;}
.pie{height:50px;background-color:black;color:white;}