* {
    margin: 0px;
    padding: 0px
}

.wrapper {
    width: 100%;
    height: 600px;
    background-color: orange;
}

.fila {
    width: 100%;
    height: 250px;
    margin: 100px auto;
}

.fila1 {
    width: 100%;
    height: 250px;
    margin: 100px auto;
}

.foto>img {
    width: 100px;
    height: 100px;
}

.foto {
    width: 100px;
    height: 100px;
    margin: 100px;
    float: left;
    border: 1px solid black;
    background-color: grey;
}