*{margin:0px;padding:0px}
body{background-color:grey;}
.wrapper{width:600px;height:800px;margin:0px auto;background-color:grey;}
.izda{width:300px;height:800px;float:left;padding:10px;background-color:orange;}
.dcha{width:300px;height:800px;float:left;padding:10px;background-color:purple;}



