*{margin:0px;padding:0px}
body{width:100%;height:100%;}
body{width:100%;height:100%;background-color:#697f8f;background-image:url("p7/pgbk.gif");
background-repeat:repeat-x;}
.wrapper{width:751px;height:1100px;margin:20px auto;}
.arriba{width:751px;height:351px;background-image:url(p7/headerbg.gif);}
.caracola{width:751px;height:340px;background-image:url(p7/key_visual1.jpg);
	background-repeat:no-repeat;margin:18px 8px;float:left;}
	.cinta{width:562px;height:30px;background-color:#a9f5e1;position:absolute;top:307px;
		left:265px;
		z-index:100;line-height:30px;}
.abajo{width:100%;height:251px;background-image:url(p7/contentbg.gif);
background-repeat:repeat-y;}
.cinta li{float:left;list-style:none;padding-left:12px;padding-right:35px;
font-size:17px;}
.texto{font-size:12px;color:white;margin-left:15px;margin-top:60px;}
.pie{margin-top:130px;margin-left:190px;font-size:12px;color:white;}
span{display:inline-block;}
a{text-decoration:none;color:#070992;display:block;}
a:hover{background-color:#5ae411;text-shadow:2px 1px #76f4fa;transition:all 1.5s;}
