*{margin:0px;padding:0px}
.wrapper{width:1000px;height:1000px;margin:0px auto;position:relative;background-color:grey;
font-family:arial;}
.contenido{width:1000px;height:400px;position:absolute;top:300px;background-color:white;}
.foto{width:500px;height:400px;float:left;}
.foto>img{width:500px;height:400px;}
.texto{width:500px;height:400px;float:right;background-color:white;}
.texto>div:nth-child(1){width:500px;height:50px;padding-left:30px;padding-top:30px;}
.uno{display:block-inline;width:150px;background-color:grey;color:white;font-size:20px;
	border-radius:8px;margin-right:20px;padding-left:5px;padding-right:5px;}
ul{list-style:none;}
li{margin-top:10px;}
a{text-decoration:none;color:grey;font-size:14px;}
.texto>div:nth-child(2){padding-left:30px;}
.contenido~div{position:absolute;top:720px;left:530px;color:#c0c0c0;font-size:14px;}