*{margin:0px;padding:0px}
.wrapper{width:800px;height:350px;margin:150px auto;}
.wrapper>div{width:798px;height:150px;border:1px solid black;border-radius:10px;margin:25px auto;}
.wrapper>div>div:nth-child(1){width:149px;height:150px;float:left;}
.wrapper>div>div:nth-child(1)>img{width:120px;height:120px;margin:15px 15px;}
.wrapper>div>div:nth-child(2){width:450px;height:150px;float:left;}
.wrapper>div>div:nth-child(3){width:199px;height:150px;float:left;}