* {
    margin: 0px;
    padding: 0px
}

body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 549px;
    margin: 10px auto;
    border: 2px solid black;
}

.cabecera {
    height: 288px;
    background-image: url("imgs/cabecera.jpg");
}

.cinta {
    height: 33px;
    margin: -4px auto;
    background-image: url("imgs/barranav.jpg");
}

.cuerpo {
    width: 549px;
    height: 540px;
    background-image: url("imgs/fondo.gif");
    background-repeat: repeat-x;
}

.cinta ul {
    list-style: none;
    font-family: arial;
    font-size: 14px;
}

.cinta li {
    float: left;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 5px;
    min-height: 19px;
}

.cinta li:not(.ultima) {
    border-right: 1px solid white;
}

.cinta a {
    text-decoration: none;
    color: white;
}

.cinta li:hover {
    background-color: blue;
    color: black;
    transition: all 1s;
}

.izdo {
    float: left;
    width: 200px;
    height: 540px;
}

.izdo>div:nth-child(1) {
    width: 200px;
    height: 30px;
}

.izdo>div:nth-child(2) {
    width: 195px;
    height: 39px;
    background-image: url("imgs/titlat2.jpg");
    line-height: 39px;
    padding-left: 5px;
}

.izdo>div:nth-child(3) {
    width: 200px;
    height: 90px;
    background-color: #dddfde;
}

.izdo>div:nth-child(4) {
    width: 200px;
    height: 30px;
}

.izdo>div:nth-child(5) {
    width: 195px;
    height: 39px;
    background-image: url("imgs/titlat3.jpg");
    line-height: 39px;
    padding-left: 5px;
}

.izdo>div:nth-child(6) {
    width: 200px;
    height: 71px;
    background-color: #dddfde;
}

.izdo>div:nth-child(7) {
    width: 200px;
    height: 30px;
}

.izdo>div:nth-child(8) {
    width: 195px;
    height: 39px;
    background-image: url("imgs/titlat4.jpg");
    line-height: 39px;
    padding-left: 5px;
}

.izdo>div:nth-child(9) {
    width: 200px;
    height: 90px;
    background-color: #dddfde;
}

.dcho {
    float: right;
    width: 340px;
    height: 540px;
    background-image: url("imgs/decora.jpg");
    background-repeat: no-repeat;
    background-position: 200px 220px;
    background-color: #FFF;
}

.izdo div {
    font-family: arial;
    font-size: 16px;
    color: white;
}
.izdo a{display:block;font-family:arial;color:black;font-size:13px;}
.registro{display:block;margin-left:10px;padding-top:15px;padding-right:20px;}
.izdo a:hover{background-color:blue;color:white;transition:all 1s;}
.cuerpo li{font-size:13px;color:black;list-style-type:square;}
.cuerpo ul{margin-left:30px;padding-top:25px;}
