*{margin:0px;padding:0px}
.wrapper{width:1000px;height:1000px;margin:0px auto;position:relative;background-color:grey;}
.contenido{width:1000px;height:400px;position:absolute;top:300px;background-color:white;}
.foto{width:500px;height:400px;float:left;background-color:black;}
.texto{width:500px;height:400px;float:right;background-color:blue;}